.mypy_cache/

### VisualStudioCode ###
.vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history


### Jekyll ###
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata


### DotnetCore ###
# .NET Core build folders
bin/
obj/

# Visual Studio 2015/2017 cache/options directory
.vs/

*.class